Repository semaphoreci-demos/semaphore-demo-monorepo: changes, and which Semaphore blocks are due for each by the changed paths.
All: 💰 — Billing Service, 🙎 — User Service, 👩🏻‍🎨 — UI Service

💰 — Billing Service:
  jobs:
  - name: go test
    commands:
    - sem-version go 1.12
    - export GO111MODULE=on
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cd services/billing
    - go get ./...
    - go test ./...
    - go build -v .

🙎 — User Service:
  jobs:
  - name: ruby test
    commands:
    - sem-version ruby 2.5
    - checkout
    - cd services/users
    - cache restore
    - bundle install
    - cache store
    - bundle exec ruby test.rb

👩🏻‍🎨 — UI Service:
  jobs:
  - name: elixir test
    commands:
    - checkout
    - cd services/ui
    - sem-version elixir 1.9
    - cache restore
    - mix local.hex --force
    - mix local.rebar --force
    - mix deps.get
    - mix deps.compile
    - cache store
    - mix test

parametrized stage
  .semaphore/semaphore.yml
Due: none

parametrized stage
  .semaphore/parametrized-stage.yml
Due: none

parametrized stage
  .semaphore/parametrized-deploy.yml
  .semaphore/parametrized-stage.yml
Due: none

parametrized stage
  .semaphore/parametrized-deploy.yml
Due: none

parametrized stage
  .semaphore/parametrized-deploy.yml
  .semaphore/parametrized-stage.yml
  .semaphore/semaphore.yml
Due: none

parametrized stage
  .semaphore/parametrized-stage.yml
  .semaphore/semaphore.yml
Due: none

parametrized stage
  .semaphore/pipeline_2.yml
  .semaphore/semaphore.yml
  .semaphore/temp/parametrized-deploy.yml
  .semaphore/temp/parametrized-stage.yml
  .semaphore/temp/pipeline_2.yml
  .semaphore/temp/pipeline_3.yml
  .semaphore/temp/pipeline_4.yml
  .semaphore/temp/pipeline_5.yml
  .semaphore/temp/pipeline_6.yml
  .semaphore/temp/pipeline_7.yml
  .semaphore/temp/semaphore.yml
Due: none

pp
  .semaphore/semaphore.yml
  .semaphore/temp/parametrized-stage.yml
Due: none

pp
  .semaphore/semaphore.yml
Due: none

pp
  .semaphore/pipeline_2.yml
Due: none

pp
  .semaphore/pipeline_2.yml
  .semaphore/semaphore.yml
Due: none

Update Semaphore configuration
  .semaphore/pipeline_12.yml
  .semaphore/semaphore.yml
  .semaphore/temp/parametrized-deploy.yml
  .semaphore/temp/parametrized-stage.yml
Due: none

Update Semaphore configuration
  .semaphore/semaphore.yml
Due: none

u
  services/users/app.rb
Due: 👩🏻‍🎨 — UI Service

u
  services/billing/main.go
Due: 💰 — Billing Service

u
  .semaphore/pipeline_12.yml
Due: none

u
  .semaphore/pipeline_12.yml
  .semaphore/semaphore.yml
  .semaphore/stage.yml
Due: none

Revert "Tf/parametrized"
  .semaphore/pipeline_2.yml
  .semaphore/semaphore.yml
  .semaphore/stage.yml
  .semaphore/temp/parametrized-deploy.yml
  .semaphore/temp/parametrized-stage.yml
  .semaphore/temp/pipeline_2.yml
  .semaphore/temp/pipeline_3.yml
  .semaphore/temp/pipeline_4.yml
  .semaphore/temp/pipeline_5.yml
  .semaphore/temp/pipeline_6.yml
  .semaphore/temp/pipeline_7.yml
  .semaphore/temp/semaphore.yml
  services/billing/Procfile
  services/billing/main.go
  services/ui/Procfile
  services/ui/elixir_buildpack.config
  services/ui/lib/ui.ex
  services/users/Procfile
  services/users/app.rb
  services/users/test.rb
Due: 💰 — Billing Service, 🙎 — User Service, 👩🏻‍🎨 — UI Service

update READMES
  README.md
  services/billing/README.md
  services/ui/README.md
  services/users/README.md
Due: 💰 — Billing Service, 🙎 — User Service, 👩🏻‍🎨 — UI Service

badge
  README.md
Due: none

Update README.md
  services/billing/README.md
Due: 💰 — Billing Service

Update charges.go
  services/billing/charges.go
Due: 💰 — Billing Service

Update ui_test.exs
  services/ui/test/ui_test.exs
Due: 🙎 — User Service

Path conditions:
  💰 — Billing Service: any of: services/billing
  🙎 — User Service: any of: services/ui
  👩🏻‍🎨 — UI Service: any of: services/users
