Repository semaphoreci-demos/semaphore-demo-monorepo: changes, and which Semaphore blocks are due for each by the changed paths.
All: 💰 — Billing Service, 🙎 — User Service, 👩🏻‍🎨 — UI Service

💰 — Billing Service:
  jobs:
  - name: go test
    commands:
    - sem-version go 1.12
    - export GO111MODULE=on
    - export GOPATH=~/go
    - export PATH=/home/semaphore/go/bin:$PATH
    - checkout
    - cd services/billing
    - go get ./...
    - go test ./...
    - go build -v .

🙎 — User Service:
  jobs:
  - name: ruby test
    commands:
    - sem-version ruby 2.5
    - checkout
    - cd services/users
    - cache restore
    - bundle install
    - cache store
    - bundle exec ruby test.rb

👩🏻‍🎨 — UI Service:
  jobs:
  - name: elixir test
    commands:
    - checkout
    - cd services/ui
    - sem-version elixir 1.9
    - cache restore
    - mix local.hex --force
    - mix local.rebar --force
    - mix deps.get
    - mix deps.compile
    - cache store
    - mix test

u
  services/billing/go
Due: 💰 — Billing Service

Update Semaphore configuration
  .semaphore/semaphore.yml
Due: none

u
  services/users/go
Due: 👩🏻‍🎨 — UI Service

Update test.rb
  services/users/test.rb
Due: 👩🏻‍🎨 — UI Service

Updating the Billing service
  services/billing/main.go
Due: 💰 — Billing Service

Fork PR test
  services/billing/main.go
Due: 💰 — Billing Service

Hello
  services/ui/lib/ui.ex
Due: 🙎 — User Service

fix start.sh
  start.sh
Due: none

fix response error on POST /users
  services/users/app.rb
Due: 👩🏻‍🎨 — UI Service

add env var so it works on Heroku
  services/billing/main.go
  services/ui/lib/ui/application.ex
Due: 💰 — Billing Service, 🙎 — User Service

heroku
  services/billing/Procfile
  services/ui/Procfile
  services/ui/elixir_buildpack.config
  services/users/Procfile
Due: 💰 — Billing Service, 🙎 — User Service, 👩🏻‍🎨 — UI Service

Update Semaphore configuration
  .semaphore/pipeline_2.yml
  .semaphore/semaphore.yml
Due: none

Update Semaphore configuration
  .semaphore/pipeline_2.yml
Due: none

Run Semaphore Workflow
  services/users/app.rb
Due: 👩🏻‍🎨 — UI Service

Run Semaphore Workflow
  services/users/test.rb
Due: 👩🏻‍🎨 — UI Service

Update Semaphore configuration
  .semaphore/pipeline_2.yml
  .semaphore/pipeline_3.yml
Due: none

Update Semaphore configuration
  .semaphore/pipeline_4.yml
  .semaphore/pipeline_5.yml
  .semaphore/semaphore.yml
Due: none

Update Semaphore configuration
  .semaphore/pipeline_4.yml
  .semaphore/pipeline_5.yml
Due: none

Run Semaphore Workflow
  services/billing/main.go
  services/ui/lib/ui.ex
  services/users/test.rb
Due: 💰 — Billing Service, 🙎 — User Service, 👩🏻‍🎨 — UI Service

Update Semaphore configuration
  .semaphore/pipeline_4.yml
  .semaphore/pipeline_6.yml
  .semaphore/pipeline_7.yml
Due: none

support for heroku deployment
  services/billing/main.go
  services/ui/lib/ui/application.ex
Due: 💰 — Billing Service, 🙎 — User Service

ChargeHandler route
  services/billing/main.go
Due: 💰 — Billing Service

parametrized stage
  .semaphore/parametrized-stage.yml
  .semaphore/semaphore.yml
Due: none

Path conditions:
  💰 — Billing Service: any of: services/billing
  🙎 — User Service: any of: services/ui
  👩🏻‍🎨 — UI Service: any of: services/users
